.wrapper {
  display: flex;
  font-family: "Montserrat", serif;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);

  .image {
    background-image: url("../../images/sign-in.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 40%;
  }

  .form {
    height: 100vh;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .sign-in-title {
      color: white;
    }
    .description-wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      .whoweare-description {
        font-size: 0.6rem;
        width: 50%;
        text-align: justify;
        margin: 10px;
      }
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    .image {
      width: 100%;
      background-position: center;
    }
    .form {
      width: 100%;
      height: 50%;
      .description-wrapper {
        padding: 30px;
        .whoweare-description {
          width: 100%;
        }
      }
    }
  }
}
