.sign-up-container {
  display: flex;
  font-family: "Montserrat", serif;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);

  .image {
    background-image: url("../../images/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 40%;
  }

  .form {
    height: 100vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sign-up-title {
      color: white;
    }

    .sign-up-form {
      width: 400px;
      height: 400px;
      .top-form {
        display: flex;
        flex-direction: column;
        .label {
          font-size: 0.7rem;
          width: 100%;

          .input {
            background-color: #8b232398;
            box-sizing: border-box;
            border: 0;
            width: 100%;
            padding: 12px 20px;
            margin-bottom: 10px;
          }
        }
      }

      .bottom-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;

        .textarea {
          width: 100%;
          height: 100px;
          resize: none;
          margin: 0;
          padding: 0;

        }
      }
        .button-link {
          text-decoration: none;
          display: flex;
          justify-content: center;

          .button {
            background-color: #771d1d;
            border-radius: 12px;
            border: none;
            color: white;
            display: inline-block;
            font-size: 0.8rem;
            margin-top: 20px;
            padding: 10px 24px;
            text-align: center;
            text-decoration: none;

            .button:hover {
              box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.918), 0 17px 50px 0 rgba(241, 231, 231, 0.959);
            }
          }
        }
      }
    }
  }
