
.wrapper {
    display: flex;
    font-family: "Montserrat", serif;
    color: white;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
      1px 1px 1px rgba(0, 0, 0, 0.5);

    .image {
      background-image: url("../../images/sign-in.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
      height: 100vh;
      width: 40%;
    }

    .form {
      height: 100vh;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .sign-in-title {
        color: white;
      }

      .sign-in-form {
        max-width: 400px;
        max-height: 400px;

        .label {
          padding: 0px;
          font-size: 0.7rem;
          text-align: left;

          .input {
            background-color: #8b232398;
            box-sizing: border-box;
            border: 0;
            width: 100%;
            padding: 12px 20px;
            margin-bottom: 10px;
          }

          
        }
        .forgot-password{
            text-decoration: none;
            font-size: 0.5rem;
            color: rgb(83, 172, 255);
            margin: 0 auto;
        }
        .button-link {
          text-decoration: none;
          display: flex;
          justify-content: center;

          .button {
            background-color: #771d1d;
            border-radius: 12px;
            border: none;
            color: white;
            display: inline-block;
            font-size: 0.8rem;
            margin-top: 20px;
            padding: 10px 24px;
            text-align: center;
            text-decoration: none;
            transition: all 0.4s ease 0s;

            &:hover {
              background: #8b2323;
              letter-spacing: 0.5px;
              -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
              -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
              box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
              transition: all 0.4s ease 0s;
              }
    
          }
        }
      }
    }
  }