@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

.footer {
  width: 100%;
  max-height: 100vh;
  background-color: #050505;
  text-shadow: none;
  
  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 120px;

    .top-container {
      display: flex;
      justify-content: space-between;
      font-family: "bebas neue", "sans serif";
      letter-spacing: 0.5px;

      .container-information {
        margin-bottom: 10px;

        .info-title {
          font-size: 1.2rem;
          text-decoration: none;
          color: rgba(240, 240, 240, 0.973);
        }

        .info-subtitle {
          margin-top: 0;
          font-weight: 500;
          font-size: 0.5rem;
          font-family: "Montserrat", sans-serif;
          color: rgb(116, 116, 116);

        }
      }
    }

    .footer-line {
      width: 100%;
      height: 1px;
      background-color: rgb(92, 92, 92);
    }

    .bottom-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;
      font-weight: lighter;

      .footer-title {
        font-family: "bebas neue", "sans serif";
        font-size: 2.5rem;
        margin-bottom: 0px;
        color: rgb(250, 250, 250);
        font-style: italic;
        letter-spacing: 0.5px;
        font-weight: lighter;
      }
      .footer-links {
        text-decoration: none;
        font-size: 0.5rem;
        
        .about {
          text-decoration: none;
          color: rgba(231, 231, 231, 0.548);
        }
        .help {
          text-decoration: none;
          color: rgba(231, 231, 231, 0.548);
        }
        .legal {
          text-decoration: none;
          color: rgba(231, 231, 231, 0.548);
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .footer {
    .footer-container {
      .top-container {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .bottom-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;

        .footer-title {
          justify-content: center;
          display: flex;
        }
        .footer-links {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
